html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 920px;
  margin: auto;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_list {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 700;
  width: auto;
  float: none;
  position: static;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ffffff3d;
  border-bottom: 1px solid #ffffff3d;
}

.avatar {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50%;
  border: 2px solid #ffffff3d;
  width: 300px;
}

.link {
  font-weight: 400;
  text-decoration: underline;
  color: rgb(255, 113, 248);
  font-size: 1em;
}

.header-link {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.4em;
}

body {
  background-color: rgb(40, 62, 104);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1, h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  color: white;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.projects-wrapper {
  display: flex;
  flex-direction: column;
}
  
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.img {
  width: 300px;
  height: 220px;
}

.project-description {
  flex: 2;
  flex-wrap: wrap;
  font-size: 15px;
  padding-left: 10px;
}
